.products {
    display: grid;
    grid-template-columns: 4fr 1fr;

}

.products-container {
    padding: 120px 104px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.order-summery {
    background-color: #ff9900;
}


@media screen and (max-width:1100px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}